<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>거래 내역 조회</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/pay/adminpay.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>


<h1 class="adminpay_header">거래 내역 조회</h1>

<!-- 테이블 -->
<table border="1" class="adminpay_table">
    <thead>
    <tr>
        <th>결제 날짜</th>
        <th>호텔/숙소 명</th>
        <th>인원</th>
        <th>이용기간</th>
        <th>이용날짜</th>
        <th>결제금액</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf를 이용하여 리스트 데이터를 반복해서 테이블에 표시 -->
    <tr th:each="payment : ${payments}">
        <td th:text="${payment.payDate}"></td>
        <td th:text="${payment.acmName}"></td>
        <td th:text="${payment.guestCount}"></td>
        <td th:text="${payment.checkIn} + ' ~ ' + ${payment.checkOut}"></td>
        <td th:text="${payment.useDate}"></td>
        <td th:text="${payment.payPrice}"></td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/header.js"></script>
</body>
</html>
