<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>현재 예약</title>
    <link rel="stylesheet" th:href="@{/css/myResv.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content container">
    <h1>내 예약</h1>

    <div class="nav-tabs">
        <a href="/reservations/current" class="active">현재 예약</a>
        <a href="/reservations/past">이전 예약</a>
        <a href="/reservations/cancel">예약 취소</a>
    </div>

    <div th:if="${#lists.isEmpty(reservations)}">
        <p>현재 예약 내역이 없습니다.</p>
    </div>

    <div th:each="reservation : ${reservations}" class="reservation-card">
        <h2 th:text="${reservation.acmId}">숙소 ID</h2>
        <p th:text="'투숙 인원: ' + ${reservation.guestCount} + '명'">투숙 인원</p>
        <p th:text="'체크인: ' + ${#temporals.format(reservation.checkIn, 'yyyy/MM/dd')}">체크인 날짜</p>
        <p th:text="'체크아웃: ' + ${#temporals.format(reservation.checkOut, 'yyyy/MM/dd')}">체크아웃 날짜</p>
        <a th:href="@{'/reservations/cancel/' + ${reservation.resvId}}" class="cancel-button">예약 취소</a>
        <button class="details-button">상세 정보</button>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/header.js"></script>
</div>
</body>
</html>