#signup-page {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px); /* 헤더, 푸터 공간 확보 */
    padding: 80px 0; /* 위아래 여백 추가 */
    background-color: #f8f9fa;
}

.signup-container {
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 헤더와 푸터 사이 여백 추가 */
header {
    margin-bottom: 40px;
}

footer {
    margin-top: 40px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn-check {
    width: 100px;
    margin-left: 9px;
    padding: 11px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 15px 0;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

/* 메시지 스타일 */
.message {
    font-size: 14px;
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}
