/* ↓↓↓ 모든 페이지에 css 맨 앞에 필수로 넣어주세요 ↓↓↓ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    color: #333;
    font-weight: 500;
}
/* ↑↑↑ 모든 페이지에 css 맨 앞에 필수로 넣어주세요 ↑↑↑ */


.pay_main {
    text-align: center;
}


.mt-6 h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-gray-700 {
    font-size: 0.95rem;
    color: #333;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.bg-gray-200 {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.bg-gray-100 {
    background-color: #f1f3f5;
    padding: 15px;
    border-radius: 5px;
}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #444;
}

input[type="radio"] {
    margin-right: 10px;
}

.text-blue-600 {
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
