<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udigo.hotel.acm.model.dao.AcmMapper">

    <select id="selectInitialAcms" resultType="com.udigo.hotel.acm.model.dto.AcmDTO">
        SELECT *
        FROM
            tbl_acm
        ORDER BY
            liked_count DESC
        LIMIT 9
    </select>

    <select id="searchAcms" resultType="com.udigo.hotel.acm.model.dto.AcmDTO">
        SELECT *
        FROM tbl_acm a
        WHERE 1 = 1
        <if test="acmLocation != null and acmLocation != ''">
            AND a.acm_location = #{acmLocation}
        </if>
        <if test="maxGuests != null">
            AND a.max_guest >= #{maxGuests}
        </if>
        <if test="checkInDate != null and checkOutDate != null">
            AND NOT EXISTS (
            SELECT 1
            FROM tbl_reservations r
            WHERE r.acm_id = a.acm_id
            AND r.check_in &lt; #{checkOutDate}
            AND r.check_out &gt; #{checkInDate}
            )
        </if>
        ORDER BY a.liked_count DESC
        LIMIT 9
    </select>

    <select id="selectNextAcms" resultType="com.udigo.hotel.acm.model.dto.AcmDTO">
        SELECT *
        FROM
            tbl_acm
        ORDER BY
            acm_location
        LIMIT #{currentCount}, 9
    </select>

    <select id="getTotalAcmCount" resultType="int">
        SELECT COUNT(*)
        FROM
            tbl_acm
    </select>

    <select id="selectAcmDetail" resultType="com.udigo.hotel.acm.model.dto.AcmDTO">
        SELECT *
        FROM tbl_acm
        WHERE acm_id = #{acmId}
    </select>

    <select id="selectAcmIds" resultType="com.udigo.hotel.acm.model.dto.AcmDTO">
        SELECT *
        FROM tbl_acm
        WHERE acm_id IN
        <foreach item="id" collection="acmIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>
